/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
    padding-top:70px;
}

#navbar{
  position: fixed;
  top:0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c1f7f5;
}
.nav-links{
  display: flex;
  align-items: center;
  background: #fff;
  padding: 20px 15px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.nav-links li{
  list-style: none;
  margin: 0 12px;
}
.nav-links li a{
  position: relative;
  color: #333;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
  text-decoration: none;
}
.nav-links li a:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background: #34efdf;
  border-radius: 12px;
  transition: all 0.4s ease;
}
.nav-links li a:hover:before{
  width: 100%;
}
.nav-links li.center a:before{
  left: 50%;
  transform: translateX(-50%);
}
.nav-links li.upward a:before{
  width: 100%;
  bottom: -5px;
  opacity: 0;
}
.nav-links li.upward a:hover:before{
  bottom: 0px;
  opacity: 1;
}
.nav-links li.forward a:before{
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease;
}
.nav-links li.forward a:hover:before{
  transform: scaleX(1);
  transform-origin: left;
}

#guess-button {
    background: #fff;
    padding: 20px 15px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    text-decoration: none;
    color: inherit;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
    transition: background-color 0.3s ease;
  }

  #guess-button:hover {
    background-color: #b9e7f7;
  }

  #container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

#guess-container{
  display: flex;
  flex-direction: column; /* Add this line */
}

  #guess-box{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 500px; /* adjust as needed */
    margin: 20px 0; /* adjust as needed */
    background-color: #ffffff; /* adjust as needed */
    border-radius: 12px; /* adjust as needed */
    box-shadow: 0 5px 10px rgba(0,0,0,0.2); /* adjust as needed */
  }

  #small-box-container{
    display:flex;
    justify-content: space-between;
  }

  #small-box-container p{
    order:2;
  }

  .small-box {
    order:3;
    width:100px; /* adjust as needed */
    height: 50px; /* adjust as needed */
    margin: 10px; /* adjust as needed */
    background-color: #f8f9fa; /* adjust as needed */
  }
  
  #big-box {
    order:1;
    flex-grow: 1; /* this will make the box take up the rest of the space in the #guess-box */
    background-color: #f8f9fa; /* adjust as needed */
  }
  
  #big-box img {
    width: 100%; /* full width of the #big-box */
    height: 500px; /* fixed height */
    object-fit: cover; 
  }

  #data-list {
    max-height: 100px;
    overflow-y: auto;
}

#dropdown {
  background-color: #fff;
  max-height: 100px; /* Adjust as needed */
  overflow-y: auto;
  z-index: 1;
  position: relative;
  display: none;
}