/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Light gray background */
    padding: 20px;
}

/* Container styles */
.container {
    max-width: 800px;
    margin: 0 auto;
}

/* Token section styles */
#tokenSection {
    margin-bottom: 20px;
}

/* Form input styles */
.form-label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da; /* Gray border */
    border-radius: 5px;
}

/* Button styles */
.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #28a745; /* Green color */
    color: #fff; /* White text */
    text-align: center;
}

.btn:hover {
    background-color: #218838; /* Darker green on hover */
}

/* Device section styles */
#deviceSection {
    margin-top: 20px;
}

/* Select styles */
.form-control select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da; /* Gray border */
    border-radius: 5px;
}

/* List styles */
ol {
    list-style: decimal;
    padding-left: 20px;
}

#topartists,
#toptracks {
    margin-bottom: 20px;
}

#topartists li,
#toptracks li {
    margin-bottom: 10px;
    background-color: #fff; /* White background for list items */
    border: 1px solid #ced4da; /* Gray border */
    border-radius: 5px;
    padding: 10px;
}
